<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<div class="container">

    <div class="starter-template">
        <h1>Modificar Contrase&ntilde;a</h1>
    </div>
    
    <form class="pure-form" action="#" th:action="@{/modififyPassword}" th:object="${user}" method="post">
    	<fieldset>
	        <input type="password" placeholder="Contrase&ntilde;a" id="password" th:required="required" onchange="validatePassword()"></input>
    	    <input type="password" placeholder="Confirmar Contrase&ntilde;a" id="confirm_password" th:required="required" onkeyup="validatePassword()"></input>
	        <button type="submit" value="Submit" class="pure-button pure-button-primary">Cambiar</button>
    	</fieldset>
    </form>

</div>
<!-- /.container -->
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>